.sideNavDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #395bc8 0%, #5e3bc8 100%);
    width: 12vw;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 40px;
    padding: 45px;
    text-align: left;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
  }
  
  .sideNavDiv > hr {
    color: #5c58580c;
    border-radius: 30px;
    width: 100%;
  }
  
  .active {
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
    text-decoration: none;
  }
  
  .active::after {
    content: ">";
    margin-left: 0px;
    font-weight: bold;
    background: #ffffff;
    color: grey;
    border-radius: 50px 1px 1px 50px;
    padding: 6px 7px;
    margin-right: -56px;
  }
  
  .notActive {
    color: #b3afaf;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
  }