.custom-shape-divider-top-1693422116 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1693422116 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 30vh;
}

.custom-shape-divider-top-1693422116 .shape-fill {
  fill: #2341C3;
}